<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uottawa.vedant.cookhelper">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdvancedSearch" android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".Cards" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RecipePage" />
        <activity android:name=".SearchResults" />
        <activity android:name=".MyRecipes" />
        <activity android:name=".EditInstructions" />
        <activity android:name=".EditIngredients" />
        <activity
            android:name=".HelpactivityActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>